<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myConnectionString"
			 connectionString="Data Source=JSY-NOTEBOOK-YO\MSSQLSERVER01;Initial Catalog=LivingMapDB;Persist Security Info=True;User ID=dbadmin;Password=1234;Trust Server Certificate=True;" />
	</connectionStrings>
</configuration>