<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myConnectionString"
			 connectionString="Data Source=JSY-NOTEBOOK-YO\MSSQLSERVER01;Initial Catalog=LivingMapDB;Persist Security Info=True;User ID=dbadmin;Password=1234;Trust Server Certificate=True;" />
	</connectionStrings>

	<appSettings>
		<add key="vworld_apikey" value="0988A684-8F7E-388B-9ACB-C7EB0E8F1F89"/>
	</appSettings>
</configuration>